body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-size: 14px;
	color: #5f7084;
	font-family: "微软雅黑" !important;
	line-height: 25px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none !important;
}
a, a:hover, a:focus {
	outline: none;
	text-decoration: none;
	cursor: pointer;
}
a:hover, button:hover {
	opacity: .9;
}
.link:hover {
	text-decoration: underline !important;
}
.link-underline {
	text-decoration: underline;
}
.link-underline:hover {
	text-decoration: underline;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right !important;
}
h1, .h1, h2, .h2, h3, .h3 {
	margin-bottom: 0;
}
.content {
	margin-top: 112px;
	min-height: 550px;
}
.main-box {
	margin: auto;
	width: 1200px;
}
.img_box {
	position: relative;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.img_box .imgs {
	position: relative;
	display: block;
	left: 50%;
	margin-left: -960px;/*这个数值是图片宽带的一半*/
}
@font-face {
	font-family: contNumber;
	src: url('/static/fonts/DIN Alternate Bold.ttf');
}
.contNumber {
	color: #ff5d68;
	font-size: 24px;
	font-family: contNumber;
}
/*header*/
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 113px;
	background-color: #fff;
	z-index: 99999999;
	border-bottom: 1px solid #e9e8e8;
}
.layui-layer {
	z-index: 999999999 !important;
}
#header .head-top {
	height: 32px;
	line-height: 32px;
	background-color: #f0f0f0;
	color: #5e5d5d;
	font-size: 12px;
	border-bottom: 1px solid #e9e8e8;
}
#header .head-top .span-margin {
	margin-right: 28px;
}
#header .head-top .icon-top-phone {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(/static/images/icon-top-phone.png);
	vertical-align: middle;
}
#header .head-top .icon-top-app {
	display: inline-block;
	margin-left: 30px;
	width: 15px;
	height: 19px;
	background: url(/static/images/icon-top-app.png);
	vertical-align: middle;
}
#header .head-top .icon-top-wx {
	display: inline-block;
	margin-left: 30px;
	width: 22px;
	height: 17px;
	background: url(/static/images/icon-top-wx.png);
	vertical-align: middle;
}
#header .head-top a {
	margin-left: 25px;
	color: #5e5d5d;
}
#header .logo-div {
	position: relative;
	width: 100%;
	height: 81px;
}
#header .loginImg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 55.5px;
	margin-right: 0px;
	cursor: pointer;
}
#header .loginImg .loginLink {
	display: inline-block;
	border-radius: 50%;
}
#header .arrow-down {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/static/images/icon-arrow-down.png) center no-repeat;
	vertical-align: middle;
}
#header .trade-li a {
	width: auto;
}
#header .trade-li .trade-down {
	position: absolute;
	display: block;
	margin-top: 0px;
	margin-left: -40px;
	width: 140px;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0px 5px 5px #eceef0;
}
#header .trade-li .trade-down a {
	display: block;
	height: 41px;
	line-height: 41px;
	font-size: 14px;
}
#header .trade-li .trade-down a:hover {
	color: #2B7EFF;
}
#header .auth {
	position: absolute;
	display: inline-block;
	top: -26px;
	left: 41px;
	width: 78px;
	height: 30px;
	line-height: 26px;
	background: url(/static/images/auth.png) center no-repeat;
	text-align: center;
	color: #fff;
	font-size: 11px;
	cursor: pointer;
}
#header .login-link {
	position: absolute;
	display: block;
	margin-top: 14.5px;
	margin-left: 10px;
	width: 140px;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0px 5px 5px #eceef0;
}
#header .login-link a {
	display: block;
	text-align: center;
	margin-left: 0;
}
#header .login-link a:hover {
	color: #2B7EFF;
}
#header .header-icon-search {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: 25.5px;
	border: 1px solid #efefef;
	background: url(/static/images/icon-search.png) center no-repeat;
}
#header .search-div {
	position: relative;
	height: 81px;
}
#header .header-search-form {
	display: inline-block;
	width: 170px;
	padding: 10px;
	top: 81px;
	height: 50px;
	background-color: #fff;
	margin-top: 15.5px;
	margin-left: 30px;
}
#header .header-search-form .index-search {
	margin-top: 0;
}
#header .header-search-form .icon-search {
	top: 25.5px !important;
	right: 10px;
}
.inline-div {
	position: relative;
	float: left;
}
.a-margin {
	margin-right: 15px;
}
.memu {
	margin: 0 0px 0 30px;
	height: 81px;
}
.memu li {
	float: left;
	margin-right: 26px;
	font-size: 16px;
}
.memu li a {
	display: inline-block;
	width: 100%;
	height: 81px;
	line-height: 81px;
	line-height: 81px;
	color: #2c3441;
	text-align: center;
}
.memu li a.new {
	position: relative;
}
.memu li a.new i {
	position: absolute;
	display: inline-block;
	top: 25px;
	right: -22px;
	padding: 0 5px;
	height: 12px;
	line-height: 10px;
	font-size: 10px;
	color: #fff;
	background-color: #F00;
	border-radius: 100%;
}
.memu li a:hover {
	text-decoration: none;
}
.memu li .active {
	color: #2b7eff;
	border-bottom: 4px solid #2b7eff;
}
.login-status {
	margin-top: 25.5px;
	text-align: right;
}
.login-status a {
	display: inline-block;
	margin-left: 10px;
	height: 41px;
	line-height: 41px;
	color: #5f7084;
	font-size: 14px;
}
.login-status a img {
	margin-top: 0 !important;
}
a.login-btn, a.register-btn {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-left: 0px;
	font-size: 16px;
	color: #35414f;
}
a.register-btn:before {
	position: absolute;
	display: inline-block;
	content: "";
	left: 0;
	top: 6px;
	width: 2px;
	height: 18px;
	background-color: #c8cbd4;
}
a.login-btn:hover, a.register-btn:hover {
	text-decoration: underline;
}
.login-status .logged {
	width: 118px;
	font-size: 14px;
}
.login-status .logged i {
	display: inline-block;
	width: 20px;
	height: 16px;
	background: url(/static/images/icon-qy-logged.png) no-repeat 0 0;
	vertical-align: middle;
}
/*header*/
table {
	border-collapse: collapse;
}
ul {
	list-style: none;
	height: auto;
	overflow: hidden;
}
.float-right {
	float: right;
	font-size: 12px;
	font-weight: normal;
}
.red-a, .black-a, .white-a, .yellow-a, .blue-a, .trade-a, .gray-a, .yellow2-a {
	display: inline-block;
	width: 66px;
	height: 28px;
	line-height: 26px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background-color: #ff0000;
	border: 1px solid #ff0000;
	border-radius: 5px;
}
.black-a {
	background-color: #262222;
	border: 1px solid #262222;
}
.white-a {
	color: #f5b834;
	background-color: #fff;
	border: 1px solid #f5b834;
}
.yellow-a {
	background-color: #f5b834;
	border: 1px solid #f5b834;
}
.yellow2-a {
	background-color: #fff;
	border: 1px solid #f5b834;
	color: #f5b834;
	line-height: 20px;
	height: 20px;
	margin: 0 5px;
}
.blue-a {
	background-color: #2b7eff;
	border: 1px solid #2b7eff;
}
.blue2-a {
	background-color: transparent;
	border: 1px solid #2B7EFF;
	color: #2B7EFF;
}
.gray-a {
	background-color: #fff;
	border: 1px solid #d0d0d0;
	color: #5f7084;
}
.red-text {
	color: #ff5d68;
}
.blue-text {
	color: #2b7eff;
}
.trade-a {
	background-color: #fff;
	border: 1px solid #f5b834;
	color: #f5b834;
}
.f-16 {
	font-size: 16px;
}
.f-14 {
	font-size: 14px;
}
.f-12 {
	font-size: 12px !important;
}
.f-24 {
	font-size: 24px;
}
/*footer*/
#footer {
	padding: 35px 0;
	background-color: #232531;
	height: auto;
	overflow: hidden;
	color: #fff;
}
#footer .contact {
	width: 300px;
	color: #989898;
	line-height: 40px;
}
#footer .icon-footer-phone {
	display: inline-block;
	width: 33px;
	height: 32px;
	background: url(/static/images/icon-bottom-phone.png);
	margin-right: 5px;
	vertical-align: middle;
}
#footer .phone-400 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}
#footer .online-service {
	display: inline-block;
	margin-top: 10px;
	width: 122px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #444;
	font-size: 12px;
	border: 1px solid #333;
	border-radius: 30px;
}
#footer .about {
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
}
#footer .about li {
	position: relative;
	float: left;
	width: 33.333333%;
}
#footer .about li a {
	color: #fff;
	font-size: 16px;
	line-height: 42px;
}
#footer .scan-code {
	float: right;
}
#footer .scan-code li {
	float: left;
	width: 99px;
	text-align: center;
	margin-left: 50px;
}
#footer .bottom {
	height: auto;
	overflow: hidden;
	color: #989898;
}
#footer .icp {
	padding: 10px 0;
}
#footer .wx-text {
	color: #fff;
	font-size: 16px;
	line-height: 38px;
	margin-bottom: 5px;
}
#footer .kf-dh {
	color: #fff;
	font-size: 48px;
	line-height: 45px;
	margin: 13px 0;
	font-family: contNumber;
}
#footer .cx {
	margin-top: 30px;
	border-top: 1px solid #2c3441;
	padding-top: 20px;
	text-align: center;
	color: #5f7084;
}
#footer .kf-zx {
	margin-top: 10px;
	display: inline-block;
	padding: 0 5px 0 0;
	color: #fff;
	border: 1px solid #fff;
	line-height: 30px;
	cursor: pointer;
}
/*footer*/
.popup {
	position: absolute;
	display: none;
	margin-top: 40px;
	margin-left: -70px;
	padding: 10px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	z-index: 999999999;
	text-align: center;
}
.popup img {
	display: block;
}
.icon-horn {
	display: inline-block;
	margin-right: 5px;
	width: 24px;
	height: 25px;
	background: url(/static/images/icon-horn.png) center no-repeat;
}
.notice-time {
	font-size: 12px;
	color: #8f8f8f;
}
.more {
	float: right;
	font-size: 14px;
	color: #5f7084;
	font-weight: normal;
}
.title {
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
	color: #2c3441;
	border-bottom: 1px solid #c9c8cd;
}
.title i {
	display: inline-block;
	margin: 0 8px 0 0;
	width: 4px;
	height: 18px;
	background-color: #2b7eff;
	vertical-align: middle;
}
.subtitle {
	padding-left: 10px;
	font-weight: bold;
	color: #000;
}
.table-order {
	margin: 20px auto;
	width: 100%;
	border: 1px solid #c8cbd4;
}
.table-order th, .table-order td {
	text-align: center;
	border-bottom: 1px solid #c8cbd4;
}
.table-order th {
	padding: 12px 0;
	font-weight: normal;
	line-height: 25px;
	font-weight: bold;
	background-color: #f0f1f5;
}
.table-order th a, .trade-float th a {
	color: #5f7084;
}
.table-order th:first-child {
	padding: 12px 0 12px 3px;
}
.table-order td {
	padding: 10px 0px;
	line-height: 20px;
	color: #35414f;
	min-width: 70px;
}
.table-order tr:not(:first-child) {
	cursor: pointer;
}
.table-order tr td:first-child {
	padding: 20px 0px 20px 3px;
}
.table-order .order-type img {
	vertical-align: middle;
	display: block;
	margin: auto;
}
.table-trade th, .table-trade td {
	text-align: center;
}
.gray-box {
	margin: 20px 0;
	height: auto;
	overflow: hidden;
	background-color: #f0f0f0;
}
.swiper-container {
	margin: auto;
	height: auto;
	overflow: hidden;
}
.swiper-slide a:hover {
	opacity: 1 !important;
}
.swiper-slide {
	text-align: left;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-pagination-bullet {
	opacity: 1 !important;
	border: 1px solid #fff;
	background-color: transparent !important;
}
.swiper-pagination-bullet-active {
	background: #fff !important;
}
.gray-border {
	height: auto;
	overflow: hidden;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
}
form {
	padding-bottom: 15px;
}
form .form-line {
	position: relative;
	margin: 0;
	padding: 0;
	height: 68px;
	line-height: 68px;
	border: none;
}
form .form-line > label {
	position: absolute;
	left: 0;
	margin-left: 100px;
	width: 150px;
}
form .form-line .form-right {
	margin-left: 250px;
}
form .form-line .form-text {
	font-size: 12px;
	color: #8d8d8d;
	line-height: 40px;
}
form input, form select, form button, form textarea {
	padding-left: 10px;
	width: 320px;
	height: 42px;
	border: 1px solid #dfdfdf;
	vertical-align: middle;
	color: #35414f;
}
form input:focus {
	border: 1px solid #f5b834 !important;
	box-shadow: none !important;
}
form textarea {
	height: 150px;
	resize: none;
}
form .input-verification {
	width: 210px;
}
.form-control[readonly] {
	background-color: #fff !important;
}
.verification-img, .verification-btn {/*短信验证码、图形验证码*/
	display: inline-block;
	margin-left: 5px;
	width: 100px;
	height: 42px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #2B7EFF;
	background-color: #2B7EFF;
	color: #fff;
	vertical-align: middle;
	cursor: pointer;
}
.verification-img {
	background-color: #fff;
	border: 1px solid #999;
}
form button {
	height: 46px;
	line-height: 46px;
	background-color: #3e79fe;
	border: 1px solid #3e79fe;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	outline: none;
}
form .form-div {
	height: 40px;
	line-height: 40px;
}
form .form-text {
	line-height: 20px;
}
form input[type=checkbox], form input[type=radio] {
	margin-top: 0;
	margin-right: 5px;
	width: 14px;
	height: 14px;
	vertical-align: middle;
}
form .btn-div {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}
.dowebok {
	margin: auto;
}
.dowebok li {
	display: inline-block;
	box-sizing: border-box;
	width: 160px;
	vertical-align: middle;
	margin-right: -5px;
}
.dowebok input.labelauty + label {
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	color: #999;
	text-align: center;
	border-radius: 0;
	background-color: #fff;
	border: 1px solid #dfdfdf;
}
input.labelauty:checked + label {
	background-color: #2b7eff !important;
	border: 1px solid #2b7eff !important;
}
.white-box {
	background-color: #fff;
	height: auto;
	overflow: hidden;
}
.gray2-box {
	padding: 20px 0;
	background-color: #f7f7f7;
}
.btn-file {
	display: inline-block;
	width: 36px !important;
	height: 36px !important;
	border: 1px dashed #e1e1e1 !important;
	background-color: #fff !important;
	border-radius: 0 !important;
	color: #ccc !important;
	padding-left: 0 !important;
}
.upload-div * {
	vertical-align: middle;
}
.table-staff {
	margin-top: 25px;
	width: 100%;
	border: 1px solid #e1e1e1;
	border-collapse: collapse;
}
.table-staff th, .table-staff td {
	border-bottom: 1px solid #e1e1e1;
	line-height: 45px;
	text-align: center;
}
.table-staff th {
	background-color: #f2f2f2;
}
.table-staff .a-unbind {
	display: inline-block;
	padding: 0px 8px;
	line-height: 20px;
	color: #fff;
	background-color: #ccc;
	border-radius: 10px;
}
.select2-container .select2-selection--single {
	height: 36px !important;
	border: 1px solid #dfdfdf !important;
	border-radius: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 36px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 34px !important;
}
.form-line .select2-container .select2-selection--single {
	height: 42px !important;
}
.form-line .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 42px !important;
}
.form-line .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px !important;
}
/*wpb add*/
.yellow-text {
	color: #f5b834 !important;
}
.search-div {
	position: relative;
}
.index-search {
	margin-top: 25.5px;
	padding: 0 25px 0 10px;
	width: 150px;
	height: 30px;
	border: 1px solid #dfdfdf;
	background-color: transparent;
	vertical-align: middle;
	z-index: 1;
}
.icon-search {
	display: inline-block;
	position: absolute;
	top: 26px;
	right: 0px;
	width: 30px;
	height: 30px;
	background: url(/static/images/icon-search.png) no-repeat center;
	z-index: 2;
	cursor: pointer;
}
.icon-refresh {
	display: inline-block;
	position: absolute;
	top: 26px;
	right: 0px;
	width: 30px;
	height: 30px;
	background: url(/static/images/icon-refresh.png) no-repeat center;
	background-size: 20px 20px;
	z-index: 2;
	cursor: pointer;
}
.icon-change {
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(/static/images/icon-change.png) no-repeat center;
	background-size: 16px 16px;
	cursor: pointer;
	border-radius: 3px;
}
.m-t-20 {
	margin-top: 20px !important;
}
.m-t-30 {
	margin-top: 30px !important;
}
.gray-text {
	color: #827d7d;
}
.m-r-20 {
	margin-right: 20px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.icon-promet-fail {
	padding-left: 10px;
	color: #ff0000;
}
.promet {
	font-size: 12px;
	font-weight: normal;
	color: #666;
}
.trade-box {
	position: relative;
}
.pages {
	margin-top: 20px;
	font-size: 12px;
}
.share-wx, .share-qq {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-left: 10px;
	vertical-align: middle;
}
.share-wx {
	background: url(/static/images/share-wx.png);
}
.share-qq {
	background: url(/static/images/share-qq.png);
}
.ticket-upload li {
	float: left;
	width: 33.333333%;
	max-width: 180px;
	line-height: 20px;
	text-align: center;
}
.ticket-upload input {
	width: 118px !important;
	height: 32px !important;
	line-height: 32px !important;
}
.ticket-upload p {
	text-align: left;
}
.ticket-upload .tb-imgFile {
	position: relative;
	padding-top: 130px;
}
.ticket-upload .tb-imgFile img {
	position: relative;
	margin: auto;
	display: block;
}
.ticket-upload .tb-imgFile .btn-file {
	position: absolute;
	padding: 0;
	width: 100px !important;
	height: 32px !important;
	line-height: 30px;
	background-color: #69739b !important;
	color: #fff !important;
	border: 1px solid #69739b !important;
	border-radius: 3px !important;
	bottom: 5px;
	left: 50%;
	margin-left: -50px;
}
.thumb {
	border: 1px solid #dfdfdf;
	padding: 0px;
	width: 118px;
	height: 118px;
	line-height: 100px;
	text-align: center;
	font-size: 50px;
	color: #ccc;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
}
.thumb div {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.thumb div:after {
	content: '+';
}
.thumb img {
	position: absolute !important;
	display: inline-block !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.icon-upload-info {
	position: absolute;
	display: inline-block;
	top: 90px;
	left: 0px;
	width: 118px;
	height: 30px;
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	opacity: 0.8;
	line-height: 30px;
	color: white;
	box-sizing: border-box;
	z-index: 3;
	font-size: 12px;
	text-align: center;
}
.layui-upload-file {
	display: none!important;
	opacity: .01;
	filter: Alpha(opacity=1);
}
#float-right {
	position: fixed;
	right: 10px;
	bottom: 50px;
	z-index: 999999999;
	background-color: #2c3441;
}
#float-right ul {
	overflow: visible;
}
#float-right li {
	width: 52px;
	height: 52px;
	border-bottom: 1px solid #fff;
}
#float-right li:hover {
	background-color: #2b7eff;
	opacity: 1;
}
#float-right .zxzx {
	background: #2c3441 url(/static/images/zxkf-l.png) center no-repeat;
	opacity: 0.5;
}
#float-right .phone {
	border-top: 1px solid #fff;
	background: #2c3441 url(/static/images/float-right.png) -8px -71px;
	opacity: 0.5;
}
#float-right .wx {
	background: #2c3441 url(/static/images/float-right.png) -8px -138px;
	opacity: 0.5;
}
#float-right .icon-more {
	background: #2c3441 url(/static/images/icon-tools-more.png) no-repeat center;
}
#float-right .calculator {
	background: #2c3441 url(/static/images/float-right.png) -8px -204px;
	opacity: 0.5;
}
#float-right .top {
	background: #2c3441 url(/static/images/float-right.png) -8px -270px;
	opacity: 0.5;
}
#float-right .kf-phone, #float-right .calculator-show {
	position: absolute;
	background: #2b7eff;
	margin-left: -120px;
	width: 120px;
	height: 52px;
	line-height: 52px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	border-right: 1px solid #fff;
	z-index: 99999999;
}
#float-right .calculator-show {
	cursor: pointer;
}
#float-right .wx-qr {
	position: absolute;
	width: 120px;
	height: 120px;
	margin-left: -120px;
	background: #2b7eff;
	border-right: 1px solid #fff;
	z-index: 99999999;
}
#float-right .wx-qr img {
	display: block;
	margin: auto;
	width: 110px;
	margin-top: 5px;
}
#float-right .hongbao {
	display: block;
	width: 52px;
	height: 52px;
	background: #fff url(/static/images/icon-hb.png) center no-repeat;
	opacity: 1;
}
#float-right .hongbao:hover {
	background: #fff url(/static/images/icon-hb-hover.png) center no-repeat;
}
#float-right .hb-qr {
	position: absolute;
	width: 180px;
	height: auto;
	overflow: hidden;
	margin-left: -180px;
	background: #fff;
	border: 5px solid #2b7eff;
	z-index: 99999999;
}
#float-right .hb-qr img {
	display: block;
	margin: auto;
	width: 110px;
	margin-top: 5px;
}
#float-right .hb-qr .qr-text {
	text-align: center;
}
#float-right .hb-qr .hb-text {
	margin: 5px;
	padding: 5px;
	background-color: #fff;
}
#float-right .hb-qr .hb-text p {
	font-size: 12px;
	line-height: 20px !important;
}
.short-btn-yellow, .short-btn-gray, .short-btn-white {
	display: inline-block;
	height: 46px;
	line-height: 46px;
	background-color: #3e79fe;
	border: 1px solid #3e79fe;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	width: 200px;
	margin: 0 10px;
}
.short-btn-gray {
	background-color: #ccc;
	border: 1px solid #ccc;
}
.short-btn-white {
	background-color: #fff;
	color: #f5b834;
}
.btn-gray {
	background-color: #ccc;
	border: 1px solid #ccc;
}
.layui-layer-cancel form {
	margin-top: 60px;
}
.layui-layer-cancel form .form-line {
	height: auto;
}
/*结果提示信息，信息可多行*/
.result-info {
	position: relative;
	min-height: 60px;
	margin: 50px 0 0 30px;
}
.result-info p {
	margin-left: 50px;
	line-height: 40px;
	font-size: 18px;
}
.result-info .icon-OK, .result-info .icon-wait, .result-info .icon-fail {
	left: 0;
}
/*企业提交信息*/
.qy-infoDiv {
	margin: 0 30px;
	border: 1px solid #f3f1f1;
}
.qy-infoDiv .control-label {
	margin-bottom: 0;
	padding-left: 30px;
}
.qy-infoDiv .row {
	padding: 10px 0;
	line-height: 20px;
	border-bottom: 1px solid #f3f1f1;
}
.qy-infoDiv .row:last-child {
	border-bottom: none;
}
.qy-infoDiv img {
	margin-bottom: 10px;
}
a.valid-bank-btn {
	color: #fb5b3b;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
}
/**/
.icon-success, .icon-wait, .icon-fail {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	margin-right: 10px;
}
.icon-success {
	background: url(/static/images/icon-renOK.png) no-repeat 0 0;
}
.icon-wait {
	background: url(/static/images/icon-renOK.png) no-repeat 0 -40px;
}
.icon-fail {
	background: url(/static/images/icon-renOK.png) no-repeat 0 -80px;
}
.ticket-upload .tb-imgFile {
	position: relative;
}
.ticket-upload .tb-imgFile .icon-promet-fail {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: -70px;
}
.animated {
	padding-top: 60px;
	min-height: 440px;
}
.myalert {
	position: fixed;
	right: 20px;
	top: 10px;
	width: 350px;
	padding-top: 30px !important;
	box-shadow: 5px 5px 5px #c6c6c6;
	border: 1px solid #e8e8e8 !important;
	background-color: #fff !important;
	z-index: 2;
}
.myalert-close {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 20px;
	color: #999;
	font-weight: normal;
	cursor: pointer;
}
.message-detail-box {
	padding: 20px;
}
.bind-box {
	padding: 0;
}
.bind-box .title {
	padding-left: 20px;
	line-height: 50px;
	background-color: #fbfbfb;
	font-size: 14px;
	border-bottom: none;
}
.bind-box .table-order {
	border: none;
	margin-top: 0 !important;
}
.bind-box .table-order th {
	background-color: transparent;
}
.bind-box .table-order td {
	line-height: 60px;
}
.agreement-box {
	margin: 0;
}
.agreement-info {
	padding: 20px;
}
.tooltip-mark {
	display: inline-block;
	width: auto;
	min-width: 20px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	border-radius: 10px;
	background-color: #ff0000;
}
/*error*/
.error-box {
	margin: 0;
}
.error-box .white-box {
	min-height: 510px;
}
.error-title {
	margin: 0 20px 10px 20px;
	padding: 30px 0 10px 0;
	border-bottom: 1px solid #e7e7e8;
}
.error-number {
	font-size: 28px;
	vertical-align: middle;
	margin-left: 10px;
}
.error-info {
	margin: 0 40px 60px 20px;
}
.error-btn {
	margin: 0 12%;
}
.error-link {
	margin-left: 20px;
}
.error-link a {
	margin-right: 20px;
}
.confirmorder-iframe {
}
.confirmorder-iframe .layui-layer-btn {
	text-align: center;
}
.my-zxkf {
	text-align: center;
	margin-bottom: 40px;
}
.my-zxkf * {
	display: block;
	margin: auto;
}
.my-zxkf a {
	margin-top: 20px;
	border-radius: 0;
	width: 120px;
	height: 40px;
	line-height: 40px;
}
.icon-input-close {
	position: absolute;
	display: inline-block;
	margin-left: -24px;
	width: 20px;
	cursor: pointer;
	text-align: center;
}
.tb-imgFile {
	position: relative;
}
.icon-img-delete {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 20px;
	width: 20px;
	height: 20px;
	background: url(/static/images/wap/icon-img-delete.png) no-repeat center / 100% auto;
	cursor: pointer;
	z-index: 3;
}
.icon-upload-info {
	position: absolute;
	display: inline-block;
	top: 90px;
	right: 31px;
	width: 118px;
	height: 30px;
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	opacity: 0.8;
	line-height: 30px;
	color: white;
	padding-left: 10px;
	z-index: 3;
}
.icon-upload-success {
	position: absolute;
	display: inline-block;
	top: 7px;
	width: 16px;
	height: 16px;
	background: url(/static/images/right.png) no-repeat center / 100% auto;
	cursor: pointer;
}
.icon-upload-error {
	position: absolute;
	display: inline-block;
	top: 7px;
	width: 16px;
	height: 16px;
	background: url(/static/images/error.png) no-repeat center / 100% auto;
	cursor: pointer;
}
#calculator .btn-div a {
	width: 125px;
}
.trade-time {
	width: 75px;
}
.trade-code {
	min-width: 60px;
}
.trade-name {
	position: relative;
	width: 230px !important;
	word-break: break-all;
	line-height: 20px !important;
	text-align: left !important;
}
.th-name {
	text-align: center !important;
}
.trade-name div {
	max-width: 300px;
}
.trade-name-2 {
	word-break: break-all;
	line-height: 20px !important;
	text-align: center !important;
}
.td-inner {
	margin: auto;
	padding: 0 10px;
	min-width: 100px;
	word-break: break-all;
	line-height: 20px !important;
	text-align: left !important;
}
.trade-amount {
	min-width: 80px;
}
.trade-matured_time {
	min-width: 60px;
}
.trade-final_amount {
	min-width: 80px;
}
.trade-bank_branch {
	word-break: break-all;
	line-height: 20px !important;
	text-align: left !important;
	min-width: 80px;
}
.order_status_td {
	line-height: 20px !important;
}
.trade-btn {
	width: 72px;
	padding-right: 10px !important;
}
.icon-v {
	display: inline-block;
	width: 15px;
	height: 14px;
	background: url(/static/images/icon-v.png) no-repeat;
	vertical-align: top;
	margin: 0 2px;
}
.icon-r {
	display: inline-block;
	width: 33px;
	height: 14px;
	background: url(/static/images/icon-r.png) no-repeat;
	vertical-align: top;
	margin: 0 0 0 1px;
}
.sift-order {
	margin: 20px 0 0 0;
}
.sift-order select {
	width: 100px;
}
.nav-tabs > li {
	width: 94px;
	height: 56px !important;
	line-height: 56px !important;
}
.nav-tabs > li a, .nav-tabs > li a:hover {
	border: none !important;
	background: none !important;
	height: 56px !important;
	line-height: 56px !important;
	text-align: center;
	font-size: 16px;
	padding: 0 10px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none !important;
	border-bottom: 2px solid #f5b834 !important;
	color: #f5b834 !important;
}
.bank-title {
	margin: 20px 0 10px 0;
}
.customtitle {
	position: relative;
	padding-left: 20px;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
	background-color: #055fcc;
}
.customtitle:before {
	position: absolute;
	display: inline-block;
	content: "";
	left: -1px;
	width: 8px;
	height: 40px;
	background-color: #f5b834;
}
#trade-th {
	width: 1198px;
	height: 51px;
	line-height: 51px;
}
#trade-th th {
	text-align: center;
}
.trade-float {
	top: 113px;
	z-index: 999;
}
.ww-title {
	margin: 0 20px 20px 20px;
	font-weight: normal;
	padding-bottom: 5px;
	color: #000;
	line-height: 40px;
	border-bottom: 1px solid #dfdfdf;
}
.ww-title a {
	color: #2B7EFF;
}
.pages .btn {
	border: 1px solid #999;
	border-radius: 0;
	margin: 0 5px;
	padding: 0 8px;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
}
.pages input {
	vertical-align: middle;
}
.pages .selected {
	background-color: #2B7EFF;
	border: 1px solid #2B7EFF;
	color: #fff !important;
	vertical-align: middle;
}
.icon-sort-arrow {
	display: inline-block;
	width: 15px;
	height: 13px;
	background: url(/static/images/icon-sort-arrow.png) no-repeat;
	margin-left: 1px;
	vertical-align: middle;
}
.icon-sort-arrow-down {
	display: inline-block;
	width: 9px;
	height: 13px;
	background: url(/static/images/icon-sort-arrow.png) no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-position: -6px 0;
	margin-left: 1px;
	vertical-align: middle;
}
.icon-sort-arrow-up {
	display: inline-block;
	width: 9px;
	height: 13px;
	background: url(/static/images/icon-sort-arrow.png) no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-position: 2px 0;
	margin-left: 1px;
	vertical-align: middle;
}
#trade-list tr:hover {
	background-color: #f2f2f2;
}
/*查询助手*/
.listSearch-box {
	margin: 0;
}
.listSearch-box .white-box {
	margin: 20px;
	padding: 0;
}
.listSearch-box .sidebar {
	width: 315px;
	background-color: #eaeaea;
	min-height: 550px;
}
.sidebar-title {
	margin: 70px 0 40px 0;
	font-size: 16px;
	font-weight: bold;
	color: #444;
	text-align: center;
}
.listSearch-box .sidebar ul {
	margin: 10px 0 0 0;
}
.listSearch-box .sidebar ul li {
	position: relative;
	line-height: 56px;
	text-align: center;
}
.listSearch-box .sidebar ul li a {
	display: block;
	width: 100%;
	color: #202020;
	font-size: 16px;
}
.listSearch-box .sidebar ul li.active {
	background-color: #fff;
}
.listSearch-box .sidebar ul li a {
	display: inline-block;
	background: url(/static/images/icon-listSearch.png) 85px center no-repeat;
	vertical-align: middle;
}
.listSearch-box .main-right {
	padding: 70px 20px 20px 100px;
	width: calc(100% - 315px);
}
.listSearch-form .form-line {
	margin-top: 10px;
}
.listSearch-form input {
	float: left;
	width: 370px;
}
.listSearch-form .btn-search {
	display: inline-block;
	width: 80px;
	height: 42px;
	line-height: 42px;
	color: #fff;
	text-align: center;
	background-color: #f5b934;
	vertical-align: top;
}
.listSearch-result {
	margin-top: 0px;
}
.listSearch-result .result {
	height: auto;
	overflow: hidden;
}
.listSearch-result ul {
	float: left;
	width: 450px;
	margin: 10px 10px 10px 0;
	border: 1px solid #dfdfdf;
}
.listSearch-result ul li {
	padding: 5px 20px;
	margin-bottom: -1px;
	font-weight: bold;
}
.listSearch-result ul li span {
	font-weight: normal;
}
.listSearch-result ul li:last-child {
	margin-bottom: 0;
}
.mark {
	display: inline-block;
	padding: 10px 20px 0 20px;
	width: calc(100% - 450px);
	font-size: 12px;
	color: #999;
}
.listSearch-result .promet {
	color: #ff6661;
	font-size: 12px;
	margin-top: 10px;
}
.btn-prev {
	float: left;
	width: 200px;
	margin-left: -60px;
}
.btn-next {
	float: left;
	width: 200px;
	margin-left: 40px;
}
.select-item-div input[type=checkbox] {
	margin: 0 6px;
}
#select-item-all {
	margin-right: 3px;
	vertical-align: text-top;
}
.layer-auth {
	position: fixed !important;
}
.set-custom .layui-layer-btn {
	text-align: center;
}
/*智签票*/
.zqp * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none !important;
}
.zqp .main-box {
	margin: auto;
	width: 1200px;
}
.img_box {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.img_box .imgs {
	position: relative;
	display: block;
	left: 50%;
	width: 1920px;
	margin-left: -960px;/*这个数值是图片宽带的一半*/
}
.zqp .inline-div {
	position: relative;
	float: left;
}
.zqp ul {
	list-style: none;
	height: auto;
	overflow: hidden;
}
.f-16 {
	font-size: 16px;
}
.gray-box {
	height: auto;
	overflow: hidden;
	background-color: #f4f6ff;
}
.zqp .index-about {
	position: relative;
	width: 1200px;
	padding: 80px 0;
	height: auto;
	overflow: hidden;
}
.zqp .index-about .inline-div {
	display: inline-block;
	width: 50%;
}
.apply-box {
	position: relative;
	margin-top: 0px;
}
.apply-title {
	margin-top: -140px;
	font-size: 36px;
	text-align: center;
	line-height: 40px;
	color: #fff;
}
.apply-box .white-box {
	margin: 50px 0 0 0;
	padding: 40px 0;
	min-height: 500px;
}
.product-tab {
	margin: auto;
	width: 810px;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 8px;
	height: 80px;
	margin-top: 68px;
}
.product-tab li {
	float: left;
	width: 50%;
	height: 70px;
	line-height: 70px;
}
.product-tab li a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 20px;
	color: #fff;
	background-color: #154fa9;
}
.product-tab li a.active {
	color: #232323;
	background-color: #fff;
}
.product-inner {
	padding: 0 0 0 70px;
}
.product-title {
	font-size: 30px;
	font-weight: bold;
	color: #666;
	margin: 20px 0;
}
.product-text {
	font-size: 16px;
	color: #2f3030;
	line-height: 35px;
}
.product-text-2 {
	font-size: 24px;
	color: #666;
	line-height: 40px;
}
.product-pbm {
	height: 648px;
	background: url(/static/images/product-bj.jpg);
}
.product-pbm .product-title {
	text-align: center;
	color: #333;
	margin: 0 0 10px 0;
}
.product-subtitle {
	text-align: center;
	font-size: 16px;
	color: #333;
}
.product-pbm ul li {
	margin-top: 10px;
	margin-bottom: 10px;
}
.zqp-a {
	display: inline-block;
	margin: 20px 20px 0 0;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background-color: #6b7ffe;
	border-radius: 5px;
}
.zqp-bank {
	margin: 20px auto;
	width: 740px;
}
.zqp-bank li {
	float: left;
	width: 25%;
	margin-bottom: 12px;
}
.zqp-bank li span {
	display: inline-block;
	width: 173px;
	height: 58px;
	line-height: 56px;
	font-size: 18px;
	color: #999;
	border: 1px solid #e4e4e4;
	background-color: #fff;
}
.layui-layer-shade {
	z-index: 999999999 !important;
}
.layui-layer {
	z-index: 9999999999 !important;
}
.commercial-info {
	margin: 0 30px;
	word-break: break-all;
}
.bankSearch-form {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: #fff;
	border-bottom: 1px solid #efefef;
}
.bankSearch-table {
	margin-top: 80px;
}
.row {
	height: auto;
	overflow: hidden;
}
.text-left {
	text-align: left;
}
/*.common-layer .layui-layer-title {
	color: #35414f;
	background-color: #e7ecf0;
}*/
.operation-sell {
	margin-top: 12px;
}
.operation-sell a {
	margin-right: 12px;
}
/*.layui-layer-title {
	color: #35414f !important;
	background-color: #e7ecf0 !important;
}*/
a.blue-text:hover {
	color: #448bff;
}
.layui-form-radio > i:hover, .layui-form-radioed > i {
	color: #2B7EFF;
}
.layui-form-select dl dd.layui-this {
	background-color: #2B7EFF;
}
.layui-container {
	width: 1200px;
	padding: 0 !important;
}
.input-group-addon {
	position: absolute;
	right: 15px;
	top: 5px;
	border: 0px;
	background-color: white;
}
.cont-number {
	font-family: contNumber;
	font-size: 36px;
	color: #ff5d68;
}
/*login-mini*/
.logindiv {
	-webkit-box-shadow: 0 0 17px 0 rgba(0,0,0,.16);
	box-shadow: 0 0 17px 0 rgba(0,0,0,.16);
	margin: 0;
	width: 900px;
	height: 560px;
}
.logindiv .left, .logindiv .right {
	float: left;
	width: 450px;
	height: 560px;
}
.logindiv .right{
	border-left:1px solid #efe7e0;
}
.logindiv .login-tab {
	text-align: center;
	margin: 20px 0;
	height: auto;
	border-bottom: none;
}
.logindiv .login-tab li {
	position: relative;
	color: #444;
	margin: 0 30px;
	padding-bottom: 8px;
}
.logindiv .login-tab .layui-this {
	color: #2b7eff;
	font-size: 16px;
}
.logindiv .login-tab .layui-this:after {
	position: absolute;
	display: inline-block;
	content: "";
	bottom: 0;
	left: 50%;
	top: auto;
	margin-left: -17px;
	width: 34px;
	height: 2px;
	background-color: #2b7eff;
	border-bottom: none;
}
.logindiv .form-login {
	margin: auto;
	width: 320px;
	margin-bottom: 20px;
}
.logindiv .form-login input {
	height: 42px !important;
}
.logindiv .form-login .float-right {
	font-size: 14px;
}
.logindiv .form-login .form-line {
	height: auto;
}
.logindiv .form-login .layui-btn {
	width: 100%;
	height: 46px;
	line-height: 46px;
	background-color: #2B7EFF;
}
.logindiv .form-login .verification-btn {
	margin-left: 0;
	height: 42px !important;
	line-height: 42px !important;
}
.logindiv .form-login .verification-btn[disabled]{
	color:#777;
	border:none;
}
.logindiv .login-title {
	text-align: center;
	margin: 90px 0 30px 0;
	font-size: 30px;
}
.logindiv .login-title span {
	font-size: 18px;
}
.logindiv .row {
	margin: 30px 0;
}
.layui-table th {
	padding: 12px 0 !important;
	color: #5f7084;
	font-weight: bold;
	background-color: #f0f1f5;
}
.layui-table td {
	line-height: 20px;
	color: #35414f;
	min-width: 80px;
}
.layui-table th, .layui-table td {
	position: relative;
	background-clip: padding-box;
}
.layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin="line"], .layui-table[lay-skin="row"] {
	border-color: #eef0f2;
}
.layui-table-header, .layui-table-hover {
	background-color: #f0f1f5 !important;
}
.layui-table .layui-btn-sm {
	display: inline-block;
	width: 66px;
	height: 28px;
	line-height: 26px;
	font-size: 12px;
	border-radius: 5px;
}
.wpb-tab .layui-tab-title .layui-this {
	color: #2b7eff !important;
}
.wpb-tab .layui-tab-title .layui-this::after {
	top: auto;
	bottom: 1px;
	border: none;
	border-bottom: 2px solid #2b7eff;
}
.platform-span-1, .platform-span-3,.platform-span-4, .platform-span-9 {
	display: inline-block;
	padding: 0 5px;
	width: 66px;
	height: 22px;
	line-height: 20px;
	font-size: 12px;
	font-style: italic;
	border-radius: 5px;
	color: #14cf5a;
	border: 1px solid #14cf5a;
}
.platform-span-1 {
	color: #ffb700;
	border: 1px solid #ffb700;
}
.platform-span-3 {
	color: #ff5d68;
	border: 1px solid #ff5d68;
}
.platform-span-4 {
	color: #2b7eff;
	border: 1px solid #2b7eff;
}
.layui-table-cell {
	height: auto;
}
.layui-layer-title {
	color: #fff !important;
	background-color:#2b7eff !important;
}